@using System.Web.UI.WebControls
@using CaseStudyRM.Models
@using WebGrease.Css
@using WebGrease.Css.Ast.MediaQuery
@model CaseStudyRM.Models.SearchQuery

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Create", "SearchQuery", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.SearchTerm)
        @Html.TextBoxFor(m => m.SearchTerm, new {@class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MediaType)
        @Html.DropDownListFor(m => m.MediaType,
            new SelectList(Enum.GetValues(typeof(Media))),
            "Select Media",
            new {@class = "form-control"})
    </div>
    <button type="submit" class="btn panel-primary" >Search</button>
    
}
<hr />
<div>
    <table class="table">
        <tr>
            <th>Search</th>
            <th>Media Type</th> 
            <th>URL</th>
        </tr>
        <tr>
            <td>@Model.SearchTerm</td>
            <td>@Model.MediaType</td>
            <td>50</td>
        </tr>
    </table>
</div>
@* *@
@* <script> *@
@*     $(document).ready(function () { *@
@*         $("button").click(function () { *@
@*             $.get("https://itunes.apple.com/search?term=kid+cudi&entity=musicTrack&limit=10", function(response) { *@
@*                 //response *@
@*                 console.log(response); *@
@*                 $("#temp").text(response); *@
@*                  *@
@*                 console.log(response.resultCount); *@
@*             }); *@
@*         }); *@
@*     }); *@
@* </script> *@


