@using CaseStudy.Models
@model System.Threading.Tasks.Task<List<Result>>

@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search Results </h2>
<h3>Search Results for @Model.Result.First().OriginalSearchName</h3>
<hr />

<div class="col-8">
    <div class="row">
        <div class="table">
            <table class="table" data-toggle="table" data-pagination="true" data-search="true">
                <thead>
                <tr class="secondary">
                    <th class="col-sm-2" data-defaultsign="AZ">Artwork</th>
                    <th class="col-sm-2" data-sortable="true" data-field="ArtistName" data-defaultsign="AZ">Artist</th>
                    <th class="col-sm-3" data-sortable="true" data-field="Track" data-defaultsign="AZ">Track</th>
                    <th class="col-sm-3" data-sortable="true" data-field="Kind" data-defaultsign="AZ">Kind</th>
                </tr>
                </thead>
                @if (@Model.Result == null || @Model.Result.Count() == 0)
                {
                    <tr>
                        <td colspan="5">No Records found.</td>
                    </tr>
                }
                else
                {
                    foreach (var item in @Model.Result.OrderBy(x => x.artistName))
                    {
                        <tr>
                            <td>
                                <a href="@item.collectionViewUrl"><img src="@item.artworkUrl100"/> </a>
                            </td>
                            <td>
                                <a href="@item.artistViewUrl">@item.artistName</a>
                            </td>
                            <td>
                                <a href="@item.trackViewUrl">@item.trackName</a>
                            </td>
                            <td>
                                @item.kind
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>